#pieceViewer.modal {
    padding: 25px;
    overflow: scroll;
    max-width: 900px;
    margin: 4em 0;
}

#pieceViewer.modal a.close-modal {
    top: 2px;
    right: 2px;
    width: 22px;
    height: 22px;
    display: none!important;
}

.aawp-close-modal-button {
    position: absolute;
    top: 2.5px;
    right: 2.5px;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('https://openclipart.org/image/800px/svg_to_png/183568/close-button.png');
}

.aawp-open-modalpoup-button
{
    display: none;
}

#aawp-popup-piece-image
{
}