.jquery-modal.blocker {
    z-index: 9999;
}

#pieceViewer.modal {
    padding: 25px;
    overflow: scroll;
    max-width: 900px;
    margin: 4em 0;
    text-align: center;
}

#pieceViewer.modal a.close-modal {
    top: 2px;
    right: 2px;
    width: 22px;
    height: 22px;
}

.aawp-open-modalpoup-button {
    display: none;
}

#aawp-popup-piece-image {
    max-width: 100%;
    max-height: 80vh;
    height: auto;
    width: auto;
}