#pieceViewer.modal {
    padding: 25px;
    overflow: scroll;
}

#pieceViewer.modal a.close-modal {
    top: 2px;
    right: 2px;
    width: 22px;
    height: 22px;
}

.aawp-open-modalpoup-button
{
    display: none;
}

#aawp-popup-piece-image
{
    width: 100%;
}